img{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

body {
    background-image: url('../imgs/back.png');
}

.m1{
    text-align: center;
    font-size: 300%;
    color: aliceblue;
    font-family: 'Play', sans-serif;
}

.m2{
    text-align: center;
    color: aliceblue;
    font-family: 'Play', sans-serif;
}

.m3{
    margin-top: auto;
    margin-bottom: 2%;
    text-align: center;
    color: aliceblue;
    font-size: 200%;
    font-family: 'Dancing Script', cursive;
}